<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  <!--
  <system.webServer>
    <handlers>
      <remove name="aspNetCore"/>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
  </system.webServer>
  -->

	<connectionStrings>
		<!--<add name="EAWP_HREntities" connectionString="metadata=res://*/EAWP_HR.csdl|res://*/EAWP_HR.ssdl|res://*/EAWP_HR.msl;provider=System.Data.SqlClient;provider connection string=&quot;initial catalog=EAWP_HR;data source=10.1.9.118;user id=sa;password=mindray@2017!;persist security info=True;MultipleActiveResultSets=True;App=EntityFramework;&quot;" providerName="System.Data.EntityClient" />
        <add name="EAWP_HREntities_ReadOnly" connectionString="metadata=res://*/EAWP_HR.csdl|res://*/EAWP_HR.ssdl|res://*/EAWP_HR.msl;provider=System.Data.SqlClient;provider connection string=&quot;initial catalog=EAWP_HR;data source=10.1.9.118;user id=sa;password=mindray@2017!;persist security info=True;MultipleActiveResultSets=True;App=EntityFramework;ApplicationIntent=ReadOnly;&quot;" providerName="System.Data.EntityClient" />-->

		<add name="EAWP_HREntities" connectionString="metadata=res://*/EAWP_HR.csdl|res://*/EAWP_HR.ssdl|res://*/EAWP_HR.msl;provider=System.Data.SqlClient;provider connection string=&quot;initial catalog=EAWP_HR;data source=10.1.3.216;user id=PortalITUser_UAT;password=mindray99!;persist security info=True;MultipleActiveResultSets=True;App=EntityFramework;&quot;" providerName="System.Data.EntityClient" />
		<add name="EAWP_HREntities_ReadOnly" connectionString="metadata=res://*/EAWP_HR.csdl|res://*/EAWP_HR.ssdl|res://*/EAWP_HR.msl;provider=System.Data.SqlClient;provider connection string=&quot;initial catalog=EAWP_HR;data source=10.1.3.216;user id=PortalITUser_UAT;password=mindray99!;persist security info=True;MultipleActiveResultSets=True;App=EntityFramework;ApplicationIntent=ReadOnly;&quot;" providerName="System.Data.EntityClient" />


		<!--<add name="EAWP_HREntities" connectionString="metadata=res://*/EAWP_HR.csdl|res://*/EAWP_HR.ssdl|res://*/EAWP_HR.msl;provider=System.Data.SqlClient;provider connection string=&quot;initial catalog=EAWP_HR;data source=10.1.1.99;user id=PortalITUser;password=zaq!@WSX;persist security info=True;MultipleActiveResultSets=True;App=EntityFramework;&quot;" providerName="System.Data.EntityClient" />
		<add name="EAWP_HREntities_ReadOnly" connectionString="metadata=res://*/EAWP_HR.csdl|res://*/EAWP_HR.ssdl|res://*/EAWP_HR.msl;provider=System.Data.SqlClient;provider connection string=&quot;initial catalog=EAWP_HR;data source=10.1.1.99;user id=PortalITUser;password=zaq!@WSX;persist security info=True;MultipleActiveResultSets=True;App=EntityFramework;ApplicationIntent=ReadOnly;&quot;" providerName="System.Data.EntityClient" />-->

		<add name="EAWP_MindrayAPP_DBContext" connectionString="metadata=res://*/EAWP_MindrayAPP.csdl|res://*/EAWP_MindrayAPP.ssdl|res://*/EAWP_MindrayAPP.msl;provider=System.Data.SqlClient;provider connection string=&quot;initial catalog=EAWP_MindrayAPP;data source=10.1.9.118;user id=sa;password=mindray@2017!;persist security info=True;MultipleActiveResultSets=True;App=EntityFramework;&quot;" providerName="System.Data.EntityClient" />
		<add name="EAWP_MindrayAPP_DBContext_ReadOnly" connectionString="metadata=res://*/EAWP_MindrayAPP.csdl|res://*/EAWP_MindrayAPP.ssdl|res://*/EAWP_MindrayAPP.msl;provider=System.Data.SqlClient;provider connection string=&quot;initial catalog=EAWP_MindrayAPP;data source=10.1.9.118;user id=sa;password=mindray@2017!;persist security info=True;MultipleActiveResultSets=True;App=EntityFramework;ApplicationIntent=ReadOnly&quot;" providerName="System.Data.EntityClient" />


		<!--<add name="EAWP_MiddleEntities" connectionString="metadata=res://*/EAWP_Middle.csdl|res://*/EAWP_Middle.ssdl|res://*/EAWP_Middle.msl;provider=System.Data.SqlClient;provider connection string=&quot;initial catalog=EAWP_Middle;data source=10.1.9.118;user id=sa;password=mindray@2017!;persist security info=True;MultipleActiveResultSets=True;App=EntityFramework;&quot;" providerName="System.Data.EntityClient" />
		<add name="EAWP_MiddleEntities_ReadOnly" connectionString="metadata=res://*/EAWP_Middle.csdl|res://*/EAWP_Middle.ssdl|res://*/EAWP_Middle.msl;provider=System.Data.SqlClient;provider connection string=&quot;initial catalog=EAWP_Middle;data source=10.1.9.118;user id=sa;password=mindray@2017!;persist security info=True;MultipleActiveResultSets=True;App=EntityFramework;ApplicationIntent=ReadOnly;&quot;" providerName="System.Data.EntityClient" />-->

		<add name="EAWP_Middle_DbContext" connectionString="Data Source=10.1.9.118;Database=EAWP_Middle;User ID=sa;Password=mindray@2017!;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />

		<add name="EAWPMiddle" connectionString="Initial Catalog=EAWP_Middle;data source=10.1.1.99;user id=PortalITUser;password=zaq!@WSX;persist security info=True;MultipleActiveResultSets=True;App=EntityFramework;" providerName="System.Data.SqlClient" />
		<add name="EAWP_Middle_Comm" connectionString="metadata=res://*/EAWP_Middle_Comm.csdl|res://*/EAWP_Middle_Comm.ssdl|res://*/EAWP_Middle_Comm.msl;provider=System.Data.SqlClient;provider connection string=&quot;initial catalog=EAWP_Middle;data source=10.1.1.99;user id=PortalITUser;password=zaq!@WSX;persist security info=True;MultipleActiveResultSets=True;App=EntityFramework;&quot;" providerName="System.Data.EntityClient" />
		<add name="EAWP_MiddleEntities" connectionString="metadata=res://*/EAWP_Middle.csdl|res://*/EAWP_Middle.ssdl|res://*/EAWP_Middle.msl;provider=System.Data.SqlClient;provider connection string=&quot;initial catalog=EAWP_Middle;data source=10.1.1.99;user id=PortalITUser;password=zaq!@WSX;persist security info=True;MultipleActiveResultSets=True;App=EntityFramework;&quot;" providerName="System.Data.EntityClient" />
		<add name="EAWP_MiddleEntities_ReadOnly" connectionString="metadata=res://*/EAWP_Middle.csdl|res://*/EAWP_Middle.ssdl|res://*/EAWP_Middle.msl;provider=System.Data.SqlClient;provider connection string=&quot;initial catalog=EAWP_Middle;data source=10.1.1.99;user id=PortalITUser;password=zaq!@WSX;persist security info=True;MultipleActiveResultSets=True;App=EntityFramework;ApplicationIntent=ReadOnly;&quot;" providerName="System.Data.EntityClient" />


		<add name="EAWP_RDEntities" connectionString="metadata=res://*/EAWP_RD.csdl|res://*/EAWP_RD.ssdl|res://*/EAWP_RD.msl;provider=System.Data.SqlClient;provider connection string=&quot;initial catalog=EAWP_RD;data source=10.1.9.118;user id=sa;password=mindray@2017!;persist security info=True;MultipleActiveResultSets=True;App=EntityFramework;&quot;" providerName="System.Data.EntityClient" />
		<add name="EAWP_RDEntities_ReadOnly" connectionString="metadata=res://*/EAWP_RD.csdl|res://*/EAWP_RD.ssdl|res://*/EAWP_RD.msl;provider=System.Data.SqlClient;provider connection string=&quot;initial catalog=EAWP_RD;data source=10.1.9.118;user id=sa;password=mindray@2017!;persist security info=True;MultipleActiveResultSets=True;App=EntityFramework;ApplicationIntent=ReadOnly;&quot;" providerName="System.Data.EntityClient" />
		<add name="EAWP_RD_DbContext" connectionString="Data Source=10.1.9.118;Database=EAWP_RD;User ID=sa;Password=mindray@2017!;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
		<!--<add name="MMIP_BusinessAppEntities" connectionString="metadata=res://*/MMIP_BusinessApp_Comm.csdl|res://*/MMIP_BusinessApp_Comm.ssdl|res://*/MMIP_BusinessApp_Comm.msl;provider=System.Data.SqlClient;provider connection string=&quot;initial catalog=MMIP_BusinessApp;data source=10.1.9.118;user id=sa;password=mindray@2017!;persist security info=True;MultipleActiveResultSets=True;App=EntityFramework;&quot;" providerName="System.Data.EntityClient" />
		<add name="MMIP_BusinessAppEntities_ReadOnly" connectionString="metadata=res://*/MMIP_BusinessApp_Comm.csdl|res://*/MMIP_BusinessApp_Comm.ssdl|res://*/MMIP_BusinessApp_Comm.msl;provider=System.Data.SqlClient;provider connection string=&quot;initial catalog=MMIP_BusinessApp;data source=10.1.9.118;user id=sa;password=mindray@2017!;persist security info=True;MultipleActiveResultSets=True;App=EntityFramework;ApplicationIntent=ReadOnly;&quot;" providerName="System.Data.EntityClient" />-->


		<!--<add name="MMIP_BusinessApp_DbContext" connectionString="metadata=res://*/MMIP_BusinessApp_DbContext.csdl|res://*/MMIPBusinessApp_DbContext.ssdl|res://*/MMIP_BusinessApp_DbContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;initial catalog=MMIP_BusinessApp;data source=10.1.9.118;user id=sa;password=mindray@2017!;persist security info=True;MultipleActiveResultSets=True;App=EntityFramework;&quot;" providerName="System.Data.EntityClient" />-->

		<add name="MMIP_BusinessApp_DBContext" connectionString="data source=10.1.9.118;initial catalog=MMIP_BusinessApp;user id=sa;password=mindray@2017!;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
		<add name="MMIP_BusinessAppEntities" connectionString="metadata=res://*/MMIP_BusinessApp_Comm.csdl|res://*/MMIP_BusinessApp_Comm.ssdl|res://*/MMIP_BusinessApp_Comm.msl;provider=System.Data.SqlClient;provider connection string=&quot;initial catalog=MMIP_BusinessApp;data source=10.1.9.118;user id=sa;password=mindray@2017!;persist security info=True;MultipleActiveResultSets=True;App=EntityFramework;&quot;" providerName="System.Data.EntityClient" />
		<add name="MMIP_BusinessAppEntities_ReadOnly" connectionString="metadata=res://*/MMIP_BusinessApp_Comm.csdl|res://*/MMIP_BusinessApp_Comm.ssdl|res://*/MMIP_BusinessApp_Comm.msl;provider=System.Data.SqlClient;provider connection string=&quot;initial catalog=MMIP_BusinessApp;data source=10.1.9.118;user id=sa;password=mindray@2017!;persist security info=True;MultipleActiveResultSets=True;App=EntityFramework;ApplicationIntent=ReadOnly;&quot;" providerName="System.Data.EntityClient" />

		<add name="InterfaceInfo_DBContext" connectionString="initial catalog=EAWP_MindrayAPP;data source=10.1.9.118;user id=sa;password=mindray@2017!;persist security info=True;MultipleActiveResultSets=True;App=EntityFramework;" providerName="System.Data.SqlClient" />
		<add name="InterfaceInfo_DBContext_ReadOnly" connectionString="initial catalog=EAWP_MindrayAPP;data source=10.1.9.118;user id=sa;password=mindray@2017!;persist security info=True;MultipleActiveResultSets=True;App=EntityFramework;ApplicationIntent=ReadOnly;" providerName="System.Data.SqlClient" />

		<add name="InterfaceLog_DBContext" connectionString="initial catalog=EAWP_MindrayAPP;data source=10.1.9.118;user id=sa;password=mindray@2017!;persist security info=True;MultipleActiveResultSets=True;App=EntityFramework;" providerName="System.Data.SqlClient" />
		<add name="InterfaceLog_DBContext_ReadOnly" connectionString="initial catalog=EAWP_MindrayAPP;data source=10.1.9.118;user id=sa;password=mindray@2017!;persist security info=True;MultipleActiveResultSets=True;App=EntityFramework;ApplicationIntent=ReadOnly;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>